header{
    font-size: 11px;
    line-height: 15px;
    background-color: #131313;
    color: white;
    height: 83px;
    margin: 0;
    padding: 0;
    display: flex;
    white-space: nowrap;
}

a{
    color: inherit;
    text-decoration: none;
}

.button{
    background: #E3B873;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font: inherit;
    font-size: 11px;
}

.transparent{
    background: #E3B87300;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
}

.button:hover{
    cursor: pointer;
}

.italic{
    font-style: italic;

}

html, body{
    font-family: "Nunito Sans", Arial, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 90px;
    width: 100%;
}

.column{
    flex-direction: column;
    align-items: flex-start;
}

.header-nav{
    list-style: none;
    display: flex;
}

.header-nav-item{
    margin-right: 47px;
}

.header-nav-item:hover{
    color: #E3B873;
}

a.tel{
    text-decoration: underline;
    margin-right: 45px;
    color: #E3B873;
}

.yellow{
    color: #E3B873;
}

.sec-first{
    height: 707px;
    background: rgba(0, 0, 0, 0.7);
}

.dark{
    position: absolute;
    height: inherit;
    width: 100%;
    z-index: -1;
}

.title{
    margin-top: 194px;
    margin-left: 42px;
    font-family: 'Yeseva One','Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.paragraph{
    margin-left: 42px;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}